# VSCode
.vscode

# Latex
*.output
*.out
*.synctex(busy)

# CMake files
build
.*.swp
*.req
*.rsp
**/params.h
**/api.h
build

# Compilation files
*.o
*.ko
*.mod
*.mod.c
*.cmd
*.order
*.symvers
pmod_mat_mul_asm_*.s
pmod_mat_mul_8_asm_*.s
pmod_mat_syst_*.s